.dish_pic{
	width: 200px;
	height: 200px
}
.dish_row_list{
	margin-top: 30px;
}
.dish_row_ele{
	text-align: center;
	margin-top: 30px;
}
.dish_row_list p{
	margin-top: 15px;
}
.amount{
	text-align: center;
}
.input_group_div{
	margin: 0 auto;
}
.book_button{
	margin-top: 50px;
	background-color: #48D1CC;
}
a:hover{
	cursor: pointer;
}
#modalBody{
	text-align: center;
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus{
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #000000;
}