{% extends 'base.html' %}
{% block refer %}
    {{ super() }}
    <!--block后面起名字要注意，这里叫refer，叫什么别叫head，否则以下文件加载不进来-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/docs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/book.css') }}">
    <script src="{{ url_for('static', filename = 'js/book.js') }}"></script>
{% endblock %}
{% block theBody %}
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 bs-docs-sidebar" style="margin-top: 60px;">
            <!--左侧导航栏-->
            <ul class="nav nav-list bs-docs-sidenav affix">
                <li><a href="#chaocai"><font face="verdana" color="#EEAD0E">炒菜</font></a></li>
                <li><a href="#duncai"><font face="verdana" color="#CD3700">炖菜</font></a></li>
                <li><a href="#xican"><font face="verdana" color="#7EC0EE">西餐</font></a></li>
                <li><a href="#liangcai"><font face="verdana" color="#66CDAA">凉菜</font></a></li>
                <li><a href="#zhushi"><font face="verdana" color="#00CD00">主食</font></a></li>
                <li><a href="#jiulei"><font face="verdana" color="#B452CD">酒类</font></a></li>
                <li><a href="#yinliao"><font face="verdana" color="#00CD66">饮料</font></a></li>
                <li><a href="#shui">水</a></li>
                <li><a class="btn btn-primary btn-lg book_button" data-toggle="modal" data-target="#myModal" role="button" onclick="book()">结账</a></li>
            </ul>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div>
                <section id="chaocai">
                    <div class="page-header">
                        <h1>炒菜</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "chaocai" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="duncai">
                    <div class="page-header">
                        <h1>炖菜</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "duncai" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="xican">
                    <div class="page-header">
                        <h1>西餐</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "xican" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="liangcai">
                    <div class="page-header">
                        <h1>凉菜</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "liangcai" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="zhushi">
                    <div class="page-header">
                        <h1>主食</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "zhushi" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="jiulei">
                    <div class="page-header">
                        <h1>酒类</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "jiulei" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="yinliao">
                    <div class="page-header">
                        <h1>饮料</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "yinliao" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
                <section id="shui">
                    <div class="page-header">
                        <h1>水</h1>
                    </div>
                    <div class="row dish_row_list">
                        {% for dish in dishes %}
                        {% if dish.dish_cate == "shui" %}
                        <div class="col-xs-6 col-md-4 dish_row_ele">
                            <img class="dish_pic img-circle" src="{{ url_for('static', filename = dish.dish_path) }}">
                            <p>{{dish.dish_name}}</p>
                            <!--input group-->
                            <div class="input-group col-xs-6 col-md-6 input_group_div">
                                <span class="input-group-addon">
                                    <a href="#">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </span>
                                <input class="form-control amount" type="text" value="0" readonly>
                                <span class="input-group-addon">
                                    <a href="#">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endif %} 
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- 账单模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    请注意
                </h4>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endblock%}