{% extends 'base.html' %}
{% block theBody %}
<body style="margin-top: 50px; padding-bottom: 200px;">
	<script type="text/javascript">
		$.chuncai();
	</script>
	<div id="page-wrapper">
		<div class="col-lg-12">
			<div class="page-header">
			    <h1>OCB网上点餐系统
			        <small>首页介绍</small>
			    </h1>
			</div>
		</div>
		<div class="col-lg-12" style="font-size:16px;">
			<div class="jumbotron">
				<div class="container" style="margin-left:20px;">
					<ul class="list-unstyled">
						<li>OCB网上点餐系统是OCB团队开发的网上点餐平台</li>
						<br>
						<li>优点:
							<ul>
								<li>更方便的点餐</li>
								<ul>
									<li>看图点餐</li>
									<li>支持搜索</li>
									<li>更友好的点餐体验</li>
								</ul>
								<li>更高效的工作</li>
								<ul>
									<li>自动生成即时账单</li>
									<li>自动生成日账单</li>
									<li>自动生成月账单</li>
								</ul>
							</ul>
						</li>
						<br>
						<li>有问题请随时与我们客服郑经理联系：
							<ul>
								<li>手机号：18686424419</li>
								<li>QQ号：413149419</li>
							</ul>
						</li>
						<br>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock%}